<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CadenaSQL"
			 connectionString="Server=DESKTOP-1276GPH;Database=SNAKE;User Id=AdminDeveloper;Password=AdminDeveloper0312809833;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>